<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Project Organizer</title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <div class="container">
            <button type="submit">Salvar</button>
            <span class="progress">0% Completo</span>
            <button type="">Carregar</button>
        </div>
    </header>

    <div class="preparation container">

        <section class="project-title">
            <h1 contenteditable="true" id="title">Título do Projeto</h1>    
        </section>

        <section class="project-description" id="description">
            <p contenteditable="true" id="desc_content"></p>
        </section>
        
        <section class="project-outline">
            <input type='file'/><br>
            <img id="myImg" src="#" alt="esboço">
        </section>

    </div>    

    <div class="execution container">

        <section class="project-issues">
            <h2>Etapas</h2>
            <ul id="issue-list">
                <li>
                    <input type="checkbox" id="1">
                    <label for="1">Etapa 1</label>
                </li>
                <li>
                    <input type="checkbox" id="2">
                    <label for="2">Etapa 2</label>
                </li>
                <li>
                    <input type="checkbox" id="3">
                    <label for="3">Etapa 3</label>
                </li>
            </ul>
        </section>

        <section class="project-rules">
            <h2>Considerações</h2>
        </section>

    </div>

    <div class="load-overlay">
        <div class="load">
            <div class="close-load">
                <a>Fechar</a>
            </div>    
            <div class="load-content">

            </div>
        </div>
    </div>

    <script src="/script.js"></script>

</body>
</html>